.sidebar-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #2f2f2f;
}
.logo-image-container {
  background-color: #7635ef;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1050px) {
  .sidebar-logo {
    height: 30px;
    width: 100px;
  }
}
@media only screen and (max-width: 1450px) {
  .sidebar-links-container {
    height: 100% !important;
    min-height: 102.1vh !important;
  }
}
@media only screen and (min-width: 1600px) {
  .sidebar-links-container {
    height: 100% !important;
    min-height: 106.9vh !important;
  }
}
.sidebar-links-container {
  background-color: #2f2f2f;
  padding: 20px 10px 20px 20px;
  height: 100%;
  min-height: 100vh;
}
.sidebar-selected-link {
  /* font-family: 'Proxima Nova'; */
  color: white;
  padding: 9px 0px;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
}
.sidebar-link {
  /* font-family: 'Proxima Nova'; */
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #f2f2f2;
  padding: 9px 0px;
}
.sidebar-dropdown {
  display: flex;
  align-items: center;
}
.drawer .ant-collapse {
  background-color: inherit !important;
  border-color: #2f2f2f !important;
}
.drawer .ant-collapse-content-box {
  background-color: #2f2f2f !important;
  border-color: #2f2f2f !important;
  padding: 2px 20px !important;
  color: white !important;
}
.drawer .ant-collapse-content {
  border-color: #2f2f2f !important;
}
.drawer .ant-collapse-item {
  border-bottom-color: #2f2f2f !important;
}
.drawer .ant-collapse-header {
  color: white !important;
  display: inline-block !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #f2f2f2 !important;
  padding-top: 9px !important;
  padding-bottom: 9px !important;
  padding-left: 0px !important;
  padding-right: 35px !important;
}
